/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

button {
    margin: 10px;
}

#tanlangan-mahsulotlar, #yulduzlar-soni {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
}

#mahsulotlar-listi {
    list-style-type: none;
    padding: 0;
}

#mahsulotlar-listi li {
    margin-bottom: 5px;
}

#mahsulotlar-listi li::before {
    content: "- ";
    font-weight: bold;
} */












/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

button {
    margin: 10px;
}

#tanlangan-mahsulotlar, #yulduzlar-soni, #umumiy-narx {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
}

#mahsulotlar-listi {
    list-style-type: none;
    padding: 0;
}

#mahsulotlar-listi li {
    margin-bottom: 5px;
}

#mahsulotlar-listi li::before {
    content: "- ";
    font-weight: bold;
} */











