.list{
    width: 1300px;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap; */
    list-style: none;
}

/* .item{
    width: 300px;
    height: 300px;
    border: 1px solid;
    border-radius: 4px;
} */

.modal{
    display: none;
    width: 400px;
    height: 400px;
    background-color: aqua;
}

.show{
    display: block;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.modal.show {
    display: block;
}
